

	<div class="signin_container">

		<h2>Please sign in</h2> 

		<% flash.each do |key, value| %>
        	<div class="alert alert-<%= key %>"><%= value %></div>
      	<% end %>
		
		<%= form_tag do %>

      		<!-- <div class="field">
		  		<input id="username" type="username" name="username" placeholder="enter username" autocomplete="off" />
			</div> -->

			<div class="field">
		  		<input id="email" type="email" name="email" placeholder="enter email" autocomplete="off" />
			</div>

			<div class="field">
		  		<input id="password" type="password" name="password" placeholder="enter password" autocomplete="off" />
			</div>

			<div class="actions">
		  		<input type="submit" value="Sign in" />
			</div>

			<p>Or <%= link_to "click here", new_user_registration_path %> to sign up</p>

		<%end%>

	</div>


