<section id="main_content" class="landing">

	<div class="login_container">

		<h2>Sign up</h2>
		
		<%=form_tag do%>
      		
      		<input type="hidden" name="pid" value="">

      		<div class="field">
		  		<input id="email" type="email" name="email" placeholder="enter email" autocomplete="off" />
			</div>

      		<div class="field">
		  		<input id="username" type="username" name="username" placeholder="enter username" autocomplete="off" />
			</div>

			<div class="field">
		  		<input id="password" type="password" name="password" placeholder="enter password" autocomplete="off" />
			</div>

			<div class="actions">
		  		<input type="submit" value="Sign in" />
			</div>

			<p><%= link_to "Click here", root_path %> to return to the sign in page</p>

		<%end%>

	</div>

</section>

