<p>REMOTE CREATE</p>

<% if @notice %>
<%= "Notice: " + @notice %>
<% end %>

<% if @email_error1 %>
Email: 01
<% end %>

<% if @email_error2 %>
Email: 02
<% end %>

<% if @name_error1 %>
Name: 03
<% end %>

<% if @name_error2 %>
Name: 04
<% end %>

<% if @pwd_error1 %>
Password: 05
<% end %>

<% if @pwd_error2 %>
Password: 06
<% end %>