<div class="header">
	<div class="header-left">
		<h1>Site#home</h1>
		<p class="home">Find me in app/views/site/home.html.erb</p>
	</div>


	<div class="header-right">
		<%= render '/partials/signin' %>
	</div>
	<div class="clear"></div>
</div>

<section id="main_content" class="landing">
</section>

