<div class="header">
	<div class="header-left">
		<h1>Site#home</h1>
		<p class="home">Find me in app/views/site/home.html.erb</p>
	</div>


	<div class="header-right">
		<% if user_signed_in? %>
  			Logged in as <strong><%= current_user.email %></strong>.
  			<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  			<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		<% else %>
			<%= render '/partials/signin' %>
		<% end %>
	</div>
	<div class="clear"></div>
</div>

<section id="main_content" class="landing">
</section>

