//.signup{

	#main_content.landing{

		.signup_container{

			h2{
				margin-bottom: 5px;
			}

			form{
				#error_explanation{

					h2{
						font-size:1.5em;
					}
				}

				.field{
					input{
						&#username{
							width: calc(100% - 22px);
						    border: 1px solid #c9d0d6;
						    border-radius: 3px;
						    font-size: 0.95em;
						    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
						    outline: none;
						    padding: 8px 10px 7px;
						    margin-bottom:10px;
						}

						&#password{
							width: calc(100% - 22px);
						    border: 1px solid #c9d0d6;
						    border-radius: 3px;
						    font-size: 0.95em;
						    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
						    outline: none;
						    padding: 8px 10px 7px;
						    margin-bottom:10px;
						}

						&#email{
							width: calc(100% - 22px);
						    border: 1px solid #c9d0d6;
						    border-radius: 3px;
						    font-size: 0.95em;
						    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
						    outline: none;
						    padding: 8px 10px 7px;
						    margin-bottom:10px;
						}

						&#confirmpassword{
							width: calc(100% - 22px);
						    border: 1px solid #c9d0d6;
						    border-radius: 3px;
						    font-size: 0.95em;
						    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
						    outline: none;
						    padding: 8px 10px 7px;
						    margin-bottom:10px;
						}
					}

					&.antispam{
						display:none;
					}
				}

				.actions{
					 margin-top: 0px;

					input{
						border: 1px solid #c9d0d6;
						font-size: 0.95em;
						font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
						outline: none;
						padding: 8px 25px;
						margin-bottom:10px;
					}
				}
			}
		}
	}
//}